{% block content %}


<h1>Sheet's list'</h1>
<label for="">New Planilha</label><br>
<a href="{% url 'add-xls' %}">Input new Sheet</a>
<br>


<table>
    <thead>
        <tr>
            <th scope="col">id</th>
            <th scope="col">Cliente Name</th>
            <th scope="col">Created at</th>
            <th scope="col">External Key</th>
            <th scope="col">File</th>
            <th scope="col">Details</th>
            <th scope="col">Delete</th>
        </tr>
    </thead>
    <tbody>
        {% for l in planilha %}
        <tr>
            <td>{{l.id}}</td>
            <td>{{l.client_name}}</td>
            <td>{{l.created_at}}</td>
            <td>{{l.external_key}}</td>
            <td>{{l.file}}</td>
            <td><a href="{% url 'list-details-xls' l.id %}"> Details {{l.id}}</a></td>
            <td><a href="{% url 'delete-xls' l.id %}"> Delete {{l.id}}</a></td>

            <td>
                <a>
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock content %}